manifest {
    author = 'Dan Fornika'
    name = 'BCCDC-PHL/demultiplex-nanopore'
    version = '0.1.1'
    description = 'BCCDC-PHL demultiplex-nanopore pipeline'
    mainScript = 'main.nf'
    nextflowVersion = '>=20.01.0'
}

params {
    profile = false
    cache = ''
    run_dir = 'NO_FILE'
    outdir = 'results'
    pipeline_short_name = parsePipelineName(manifest.toMap().get('name'))
    pipeline_minor_version = parseMinorVersion(manifest.toMap().get('version'))
}

def parseMinorVersion(version) {
    minor_version = version.split('\\.')[0..1].join('.')
    return minor_version
}

def parsePipelineName(name) {
    short_name = name.split('/')[1]
    return short_name
}

profiles {
    conda {
	process.conda = "$baseDir/environments/environment.yml"
	if (params.cache){
	    conda.cacheDir = params.cache
	}
    }
}

process {
    withName: guppy_barcoder {
	cpus = 16
	memory = '2 GB'
    }

    withName: summarize_barcoding_summary {
	cpus = 1
	memory = '256 MB'
    }

    withName: combine_fastqs {
	cpus = 1
	memory = '256 MB'
    }
}
